[run]
source = chess_game_console
omit =
    venv/*
    */tests/*
    */__init__.py


[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    def setUp
    def tearDown
    def suite
    def test_
    if __name__ == "__main__"
    print
    return raw_input